


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --gap-img: 0.8em;
}

.section__masonry {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  position: relative;
}

.section__masonry-wrapper {
  width: 576;
  columns: 2;
  padding-right: var(--gap-img);
  padding-left: var(--gap-img);
}

.btnBorrarFoto{
    position: absolute;
}

.section__masonry-wrapper__item {
  width: 100%;
}

.section__masonry-wrapper__item-img {
  width: 100%;
  height: auto;
  margin-bottom: var(--gap-img);
}

@media (min-width: 768px) {
  .section__masonry-wrapper {
    columns: 3;
    width: 970px;
  }
}

@media (min-width: 992px) {
  .section__masonry-wrapper {
    columns: 3;
  }
}
#cont{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #ceee;
    padding: 10px;
}